<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Rajdhani|Open+Sans">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js"></script>
	<script src="scripts/chart.js/dist/Chart.min.js"></script>
	<script src="scripts/angular-chart.js/dist/angular-chart.min.js"></script>

	<link rel="shortcut icon" type="image/x-icon" href="images/website-logo.jpg"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/websiteApp.js"></script>
	<script src="javascripts/main.jquery.js"></script>
	<script type="text/javascript" src='javascripts/controllers/header.controller.js'></script>
	<script type="text/javascript" src='javascripts/controllers/home.controller.js'></script>
	<script type="text/javascript" src='javascripts/controllers/contact.controller.js'></script>
	<script type="text/javascript" src='javascripts/controllers/modal.controller.js'></script>
	<script type="text/javascript" src='javascripts/directives/typedjs.directive.js'></script>
	<base href="/">
</head>
<body ng-app="websiteApp" onresize="resizeHeader()">
	<div class="row" ng-controller="headerController">
		<div class="col-xs-12 hidden-md hidden-lg no-padding-margin header-phone affix" ng-mouseleave="isMobileMenuOpen=false">
			<div class="row">
				<div class="col-xs-1">
					<div class="div-phone-menu">
						<button class="btn btn-default btn-menu" ng-click="openMobileMenu()">
							<i class="fa fa-bars"></i>
						</button>
					</div>
				</div>
				<div class="col-xs-11"></div>
			</div>
			<div class="row">
				<ul class="menuList mobileMenu" ng-show="isMobileMenuOpen">
					<li id="phone-menu-item"><a ng-class="getActiveMenuLinkClass('/')" href="/">HOME</a></li>
					<li id="phone-menu-item"><a ng-click="openContactModal()">CONTACT</a></li>
					<li id="phone-menu-item"><a href="https://www.docdroid.net/vXJB5Nn/resume.pdf" target="_blank">RESUME</a></li>
					<li class="visible" id="menuListItem phone-menu-item"><a ng-class="getActiveMenuLinkClass('/blog')" href="/blog">BLOG</a></li>
				</ul>
			</div>
		</div>
		<div class="hidden-xs hidden-sm col-md-3 col-lg-2 header">
			<div class="header-affix affix">
				<div id="divHeaderLogo">
					<img class="headerLogo center-block img-responsive" src="images/header-pic.jpg" alt="Picture of William Wang">
				</div>
				<br/>
				<div class="text-center" id="divHeaderMenu">
					<ul class="menuList">
						<li id="menuListItem"><a ng-class="getActiveMenuLinkClass('/')" href="/">HOME</a></li>
						<li id="menuListItem"><a ng-click="openContactModal()">CONTACT</a></li>
						<li id="menuListItem"><a href="https://www.docdroid.net/vXJB5Nn/resume.pdf" target="_blank">RESUME</a></li>
						<li class="visible" id="menuListItem"><a ng-class="getActiveMenuLinkClass('/blog')" href="/blog">BLOG</a></li>
					</ul>
				</div>
				<div class="text-center" id="divBottomLinks">
					<p>
						<a href="https://github.com/willywwang" target="_blank">GitHub</a> | 
						<a href="https://www.linkedin.com/in/williamywang" target="_blank">LinkedIn</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-lg-10 view">
			<div class="view" ng-view></div>
		</div>
	</div>
</body>
</html>
