<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/websiteApp.js"></script>
	<script type="text/javascript" src='javascripts/controllers/header.controller.js'></script>
</head>
<body ng-app="websiteApp">
	<div class="row">
		<div class="col-xs-3 header" ng-controller="headerController">
			<div class="verticalSeperator"></div>
			<div id="divHeaderLogo">
				<h1>Logo</h1>
			</div>
			<br/>
			<div id="divHeaderMenu">
				<ul class="menuList">
					<li><a href="#">Home</a></li>
					<li><a href="#">Experience</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div ng-view>

			</div>
		</div>
	</div>
</body>
</html>
