body {
	width: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

a {
	color: #00B7FF;
}

a, a:hover, a:active, a:visited, a:focus {
	cursor: pointer;
	text-decoration:none;
}

.row {
	height: 100%;
}

.fa-spin {
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 50%;
	padding-right: 50%;
	font-size: 50px;
}

.fa {
	color: black;
}

.fa-chevron-circle-down:hover {
	color: #323232;
}

.active {
	color: #FF8C00 !important;
}

.active:hover {
	text-decoration: none;
	color: #FFCB9A !important;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.view {
	height: 100%;
	padding: 0 0 0 0;
}

/*
* Fonts
*/

@font-face
{
	font-family: AdamCGPro;
	src: url("../fonts/ADAM.CG.PRO.otf");
}

/*
* Navigation Menu
*/

.menuList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
}

.menuList > li > a:hover {
	text-decoration: none;
}

#menuListItem {
	padding-bottom: 5px;
}

#menuListItem  > a {
	color: #808080;
}

#menuListItem > a:hover {
	color: #A9A9A9;
}

/*
* Header
*/

.header {
	height: 100%;
	padding: 0 0 0 0;
}

.header-affix {
	background-color: #f4f4f4;
	padding: 0 0 0 0;
	height: 100%;
}

#divHeaderLogo {
	padding-top: 20%;
	height: 40%;
}

#divHeaderMenu {
	padding-top: 15%;
	height: 55%;
}

#divBottomLinks {
	height: 5%;
}

.headerLogo {
	border-radius: 50%;
	border-color: #A9A9A9;
	border-width: 1px;
	border-style: solid;
	height: auto;
	width: 50%;
	margin: 0 auto;
}

#formMessage {
	height: 100px;
	resize: vertical;
}

/*
* Landing Page
*/

.landing {
	background-image: url("../images/website_bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: -1;
}

.landing-titles {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 40%;
	text-align: right;
	width: 100%;
	color: black;
	font-family: AdamCGPro;
}

.landing-top-space {
	height: 39%;
}

.landing-bottom-space {
	text-align: center;
	height: 21%;
}

#landing-title {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 45px;
}

#landing-descriptors {
	padding: 0 0 0 0;
	font-size: 30px;
}

.landing-about {
	background-color: #008080;
}

.about-area {
	color: #f4f4f4;
}

.about-seperator {
	text-align: center;
	height: 1px;
	width: 90%;
	background-color: #FF8C00;
}

#about-title {
	font-family: AdamCGPro;
}

#about-text {
	font-family: 'Open Sans', sans-serif;
}