<div class="container">
	<div class="landing">
		<div class="col-xs-11 view">
			<div class="landing-top-space"></div>
			<div class="landing-titles">
				<h1 id="landing-title">WILLIAM WANG</h1>
				<h2 id="landing-descriptors"><typedjs strings=landingDescriptors></typedjs></h2>
			</div>
			<div class="landing-bottom-space">
				<a class="scrollAnimation" href="#about">
					<i class="fa fa-4x fa-arrow-circle-o-down"></i>
				</a>
			</div>
		</div>
		<div class="col-xs-1 view"></div>
	</div>
	<div class="landing-about">
		<div class="about-area" id="about">
			<div class="container-fluid about-container">
				<div class="row">
					<div class="col-xs-2 col-lg-1 view"></div>
					<div class="col-xs-8 col-lg-3 view">
						<h2 class="about-title">About</h2>
						<div class="about-seperator"></div>
						<p class="about-text">My name is Will and I'm a 3rd year computer science major at UBC with several years of experience in web and android development. I can be described as a quirky personality with an insane love of boba and fried food.
							<br/>
							<br/>
							I'm passionate about trying new foods and gadgets, listening to music, all things computer related, and exploring the outdoors. In my spare time I enjoy reading up on new technology, talking about computers, and playing video games with my colliegiate team.
							<br/>
							<br/>
							This website was fueled by many cups of caffeine, a plethora of design decisions, and every dev's favourite resource - Stack Overflow. Hopefully you enjoy the content on this website and journey down the rabbit hole of programming with a relatively new developer like myself.
						</p>
					</div>
					<div class="col-xs-2 col-lg-1 view"></div>
					<div class="col-xs-12 col-lg-6 view">
						<div class="col-xs-2 no-padding-margin"></div>
						<div class="col-xs-8 no-padding-margin">
							<h2 class="about-title">A depiction of my average day</h2>
							<div class="about-seperator"></div>
							<div class="about-graph pull-left">
								<h4 class="graph-title">What my day should be</h4>
								<br/>
								<canvas id="doughnut" class="chart chart-doughnut" chart-data="expected_action_percentages" chart-options="actual_options"
								chart-labels="expected_action_labels" chart-dataset-override="expected_graph_override"></canvas>
							</div>
							<div class="about-graph pull-right">
								<h4 class="graph-title">What it ends up being</h4>
								<br/>
								<canvas id="doughnut" class="chart chart-doughnut" chart-data="actual_action_percentages" 
								chart-labels="actual_action_labels" chart-dataset-override="actual_graph_override"></canvas>
							</div>
						</div>
						<div class="col-xs-2 no-padding-margin"></div>
					</div>
					<div class="hidden-xs col-lg-1"></div>
				</div>
				<div class="seperator"></div>
			</div>
		</div>
	</div>
	<div class="landing-experience">
		<div class="container-fluid about-container">
			<div class="col-xs-2 col-lg-1 view"></div>
			<div class="col-xs-8 col-lg-3 view">
				<h2 class="about-title">Experience</h2>
				<div class="experience-seperator"></div>
				<div class="div-experience-job">
					<a class="experience-job-title" href="javascript:void(0)" ng-click="openEDPModal()">EDP Software - Software Developer Intern</a>
					<p class="experience-date">Jan 2017 - Aug 2017</p>
				</div>
				<div class="div-experience-job">
					<a class="experience-job-title" href="javascript:void(0)" ng-click="openAffModal()">Affinity Managed IT - Support Technician</a>
					<p class="experience-date">Feb 2016 - Aug 2016</p>
				</div>
				<div class="div-experience-job">
					<a class="experience-job-title" href="javascript:void(0)" ng-click="openKumonModal()">Kumon - Team Leader</a>
					<p class="experience-date">May 2013 - Aug 2016</p>
				</div>
			</div>
			<div class="col-xs-2 col-lg-1 view"></div>
			<div class="col-xs-12 col-lg-6 view">
				<div class="col-xs-2 no-padding-margin"></div>
				<div class="col-xs-8 no-padding-margin">
					<h2 class="about-title">Average Cups of Coffee/Tea Per Day</h2>
					<div class="experience-seperator"></div>
					<br/>
					<div>
						<canvas id="line" class="chart chart-line" chart-data="line_data" 
						chart-labels="line_labels" chart-options="line_options"></canvas>
					</div>
				</div>
				<div class="col-xs-2 no-padding-margin"></div>
			</div>
			<div class="hidden-xs col-lg-1 view"></div>
		</div>
	</div>
	<div class="landing-projects">
		<div class="seperator"></div>
		<div class="container-fluid about-container">
			<div class="col-xs-2 col-lg-1 view"></div> 
			<div class="col-xs-8 col-lg-3 view">
				<img class="project-image" 
				src="images/battleship.jpg" 
				alt="battleship application" 
				ng-mouseenter="viewProject1InfoButtons=true"
				ng-mouseleave="viewProject1InfoButtons=false">
				<div class="project-panel-info" ng-mouseenter="viewProject1InfoButtons=true" ng-hide="viewProject1InfoButtons">
					<h2 class="project-name" ng-mouseenter="viewProject1InfoButtons=true">Battleship</h2>
					<h3 class="project-type" ng-mouseenter="viewProject1InfoButtons=true">Console Application</h3>
				</div>
				<div class="project-panel-buttons" ng-mouseenter="viewProject1InfoButtons=true" 
				ng-show="viewProject1InfoButtons">
					<button class="project-button" ng-disabled="isProjectModalOpen" ng-click="openPythonProjectModal()" ng-mouseenter="viewProject1InfoButtons=true">
						<i style="color: black" class="glyphicon glyphicon-info-sign" ng-mouseenter="viewProject1InfoButtons=true"></i>&nbsp;&nbsp;Learn More
					</button>
					<br/>
					<br/>
					<a href="https://github.com/willywwang/BattleshipGame" target="_blank" 
					ng-mouseenter="viewProject1InfoButtons=true">
						<button class="project-button" ng-mouseenter="viewProject1InfoButtons=true">
							<i style="color: black" class="glyphicon glyphicon-new-window" ng-mouseenter="viewProject1InfoButtons=true"></i>&nbsp;&nbsp;Source Code
						</button>
					</a>
				</div>
			</div>
			<div class="col-xs-2 col-lg-1 view"></div>
			<div class="col-xs-12 hidden-lg view">
				<div class="seperator"></div>
			</div>
			<div class="col-xs-2 hidden-lg view"></div>
			<div class="col-xs-8 col-lg-3 view">
				<img class="project-image" 
				src="images/website.jpg" 
				alt="web application"
				ng-mouseenter="viewProject2InfoButtons=true"
				ng-mouseleave="viewProject2InfoButtons=false">
				<div class="project-panel-info" ng-mouseenter="viewProject2InfoButtons=true" ng-hide="viewProject2InfoButtons">
					<h2 class="project-name" ng-mouseenter="viewProject2InfoButtons=true">Various Websites</h2>
					<h3 class="project-type" ng-mouseenter="viewProject2InfoButtons=true">Web Application</h3>
				</div>
				<div class="project-panel-buttons" ng-mouseenter="viewProject2InfoButtons=true" 
				ng-show="viewProject2InfoButtons">
					<button class="project-button" ng-disabled="isProjectModalOpen" ng-click="openWebProjectModal()" 
					ng-mouseenter="viewProject2InfoButtons=true">
						<i style="color: black" class="glyphicon glyphicon-info-sign" ng-mouseenter="viewProject2InfoButtons=true"></i>
						&nbsp;&nbsp;Learn More
					</button>
					<br/>
					<br/>
					<a href="https://github.com/willywwang/prototype-website-personal" target="_blank" 
					ng-mouseenter="viewProject2InfoButtons=true">
						<button class="project-button" ng-mouseenter="viewProject2InfoButtons=true">
							<i style="color: black" class="glyphicon glyphicon-new-window" ng-mouseenter="viewProject2InfoButtons=true"></i>&nbsp;&nbsp;Source Code
						</button>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-lg-3">
				<div class="hidden-lg seperator"></div>
				<div class="about-graph-1">
					<h3 class="graph-title">My Average Cycle (%)</h3>
					<br/>
					<canvas id="doughnut" class="chart chart-doughnut" chart-data="average_percentages" chart-labels="average_labels" chart-colors="average_colors" chart-dataset-override="average_override"></canvas>
				</div>
			</div>
			<div class="col-xs-2 col-lg-1 view"></div> 
		</div>
		<div class="seperator"></div>
	</div>
	<div class="seperator"></div>
	<div class="landing-contact">
		<div class="container-fluid">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<h2 class="contact-title">Contact Me</h2>
				<div class="panel panel-danger" ng-show="showErrors">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span>Email failed to send. Please try again.</span>
						</h4>
					</div>
				</div>
				<div class="panel panel-success" ng-show="showSuccess">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span>Email was successfully sent.</span>
						</h4>
					</div>
				</div>
				<p ng-hide="showSuccess">Not a fan of forms? Feel free to email me directly at <b>wang.yw.william@gmail.com</b>. Let's work together to create something great. I look forward to hearing from you soon!</p>
				<i class="fa fa-spinner fa-spin" ng-show="didUserSubmit"></i>
				<form ng-submit="submit()" ng-hide="showSuccess || didUserSubmit">
					<br/>
					<label>Name</label>
					<input type="name" ng-model="name" ng-blur="updateName()" placeholder="Enter name" class="form-control" maxlength='40' required>
					<br/>
					<label>Email</label>
					<input type="email" ng-model="email" ng-blur="updateEmail()" placeholder="Enter email" class="form-control" maxlength='40' required>
					<br/>
					<label>Message</label>
					<textarea id="formMessage" ng-model="message" ng-blur="updateMessage()" placeholder="Enter message" class="form-control" required></textarea>
					<br/>
					<input type="submit" value="Submit" class="btn btn-primary btn-submit"/>
				</form>
			</div>
			<div class="col-xs-2"></div>
		</div>
	</div>
	<div class="footer">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<p>Copyright &#9400 {{date | date:'yyyy'}} William Wang. All assets belong to their respective owners.</p>		
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>